.map-view-layout,
.list {
  position: absolute;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@media only screen and (min-width: 1024px) {
  .map-view-layout {
    display: flex;
  }

  .map-view-column {
    flex: 1;
  }

  .map-view-list-column {
    flex: 0 0 30em;
  }

  .map-view-list-column {
    border-left: 2px solid #d0d0d0;
  }
}

@media only screen and (max-width: 1023px) {
  .map-view-column {
    height: 40%;
  }

  .map-view-list-column {
    height: 60%;
  }

  .map-view-list-column {
    border-top: 2px solid #d0d0d0;
  }

  .height-filter {
    display: none;
  }
}

.map-view-column,
.map-view-list-column {
  position: relative;
}

.map-view-column .map,
.leaflet-container {
  height: 100%;
}

/* Used to prevent a loop when using flexbox and react-virtualized-auto-sizer */
.map-view-list-column .list-container {
  height: 100%;
}

.list tr:hover {
  cursor: pointer;
}

.height-filter {
  top: 58px;
  left: 8px;
  position: fixed;
  width: 13em;
  opacity: 0.95;
  z-index: 1000;
}

.height-filter .MuiCardContent-root:last-child {
  padding-bottom: 10px;
}

.height-filter .MuiCardContent-root {
  padding-top: 10px;
}

.status-filter.MuiFormControlLabel-root {
  margin-top: 5px;
  margin-left: 0;
}
